@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(9,73,121);
background: linear-gradient(90deg, rgba(9,73,121,1) 0%, rgba(9,79,111,1) 0%, rgba(6,161,110,1) 0%, rgba(20,246,255,1) 30%, rgba(0,133,176,1) 68%, rgba(2,164,110,1) 100%, rgba(5,137,139,1) 100%, rgba(0,212,255,1) 100%);
}

.head h1{
    text-align: center;
    font-size: 4em;
    margin: 40px;
    color: aliceblue;
}

.container{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    margin: 100px auto;
   
}

.cards{
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 20px;   
    width: 400px;
}

.cards:hover{
    box-shadow: 5px 5px 10px;
    transform:translateY(-10px);
}




.header{
    text-align: center;
    border-bottom: 1px solid grey;
    margin: 0px 10px;
    padding:20px;
}

.card-body ul{
    padding-left:20px;
}

.card-body ul li{
    list-style-type: none;
    padding: 7px;
}

.card-body ul li span{
    padding-right: 10px;
}

.headerSpan{
    color:grey;
}

.btn{
    text-align: center;
}


 button {
    background: rgb(9,73,121);
    background: linear-gradient(90deg, rgba(9,73,121,1) 0%, rgba(9,79,111,1) 0%, rgba(6,161,110,1) 0%, rgba(20,246,255,1) 30%, rgba(0,133,176,1) 68%, rgba(2,164,110,1) 100%, rgba(5,137,139,1) 100%, rgba(0,212,255,1) 100%);
  text-align: center;
  width: 80%;
  border-radius: 20px;
  color: beige;
  border: none;
  padding: 12px 0px;
  margin: 10px;
}

button:hover {
opacity:1
}

@media only screen and (max-width: 635px) and (min-width:200px){
    .head h1{
        font-size:40px;
    }

    button:hover {
        opacity:1
    }
}




